<!--html{
}
h1{
    color:aquamarine
}
h3{
    color:bisque
}
h4{
    color: darkseagreen;
}
img{
    width: 400px;
}  
#thirdDiv{
    text-align: center;
    height: 600px;
    width: 500px;
    background-color: chartreuse;
    padding: 50px;
    border-width: 500;
    border-color: hotpink;
    border-style: outset;
}
#spanId{
    font-size: 18px;
    margin: 50px;
    color: blueviolet;
}-->